<div class="container">
    <hr>
    <div class="row">
        <div class="col-lg-8">
            <h1>Educacion</h1>
            <ul>
                <li>
                    <h2>Primer Estudio</h2>
                    <h3>xxxx Años</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nam! Nihil obcaecati consequatur perferendis. Similique ducimus quis tenetur eius esse sequi reiciendis quisquam repudiandae error, officiis architecto, nesciunt commodi voluptates.</p>
                </li>
                <li>
                    <h2>Segundo Estudio</h2>
                    <h3>xxxx Años</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nam! Nihil obcaecati consequatur perferendis. Similique ducimus quis tenetur eius esse sequi reiciendis quisquam repudiandae error, officiis architecto, nesciunt commodi voluptates.</p>
                </li>
                <li>
                    <h2>Tercer Estudio</h2>
                    <h3>xxxx Años</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nam! Nihil obcaecati consequatur perferendis. Similique ducimus quis tenetur eius esse sequi reiciendis quisquam repudiandae error, officiis architecto, nesciunt commodi voluptates.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
