<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotodeperfil.png" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Nombre y Apellido</p>
        <p>Titulo</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere reprehenderit, eum earum officiis quod eligendi iste laboriosam sequi iusto nobis beatae dolorem architecto fugiat quis ab consequatur, culpa dolore itaque.</p>
        </span>
    </div>
</div>