<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
            <img src="../../../assets/fotodeperfil.png" class="img-fluid">
            <p>Nombre y Apellido</p>
            <p>Titulo</p>
        </div>
        <div class="col-lg-8 col-md-6 col-12">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere reprehenderit, eum earum officiis quod eligendi iste laboriosam sequi iusto nobis beatae dolorem architecto fugiat quis ab consequatur, culpa dolore itaque.</p>
            </span>
            <span>
                <h2>Tecnologias que uso</h2>

            </span>
        </div>
    </div>
</div>

