<div class="container">
    <hr>
    <div class="row">
        <h1>Proyectos realizados</h1>
        <div class="contenedor">
            <div class="proyectoTexto col-sm-12 col-md-7 col-lg-7">
                <h2>Primer Proyecto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet tenetur voluptatum obcaecati modi quas impedit a animi sed quae molestiae, expedita hic deserunt dignissimos earum. Maiores iste est repudiandae similique.</p>
            </div>
            <div class="proyectoImagen col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1">
                <img src="../../../assets/fotodeperfil.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
