.row {
    padding-top: 50px;
    padding-bottom: 50px;
}

img {
    height: 300px;
}

.contenedor {
    width: auto;
}

.proyectoTexto, .proyectoImagen {
    display: inline-block;
    text-align: justify;
}