/*
.banner {
    background-image: url(../../../assets/banner.jpg);
    height: 700px;
    background-position: center top;
    background-size: cover;
}
*/
.heading-content {
    position: absolute;
    top: 30%;
    width: 100%;
    max-width: 100%;
}

